
<!-- Modal -->
<div class="modal fade bd-example-modal-xl show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block; padding-right: 17px;">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white text-center">
        <h5 class="modal-title" id="exampleModalLabel">Airwaybill: 57650272784  GLOBAL TRANSPORT SYSTEMS (IAD)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-columns">

            <div class="card text-center text-white bg-secondary zoomIn animated delay-05s">
                <div class="card-body">
                  <h5 class="card-title">ORIGIN</h5>
                  <p class="card-text">MIA</p>
                </div>
            </div>
            <div class="card text-center text-white bg-secondary zoomIn animated delay-08s">
                <div class="card-body">
                  <h5 class="card-title">DESTINATION</h5>
                  <p class="card-text">LIM</p>
                </div>
            </div>
            <div class="card text-center text-white bg-secondary zoomIn animated delay-11s">
                <div class="card-body">
                  <h5 class="card-title">CARGO TYPE</h5>
                  <p class="card-text">GENERAL</p>
                </div>
            </div>
            <div class="card text-center text-white bg-secondary zoomIn animated delay-14s">
                <div class="card-body">
                  <h5 class="card-title">PIECES</h5>
                  <p class="card-text">7</p>
                </div>
            </div>
            <div class="card text-center text-white bg-secondary zoomIn animated delay-17s">
                <div class="card-body">
                  <h5 class="card-title">WEIGHT</h5>
                  <p class="card-text">317KG</p>
                </div>
            </div>
          </div>    
            <table class="table table-sm table-secondary table-striped zoomIn animated delay-2s ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Date</th>
                  <th scope="col">Note</th>
                  <th scope="col">Pieces</th>
                  <th scope="col">Weight</th>
                </tr>
              </thead>
              <tbody>
                <tr class="zoomIn animated" style=" animation-delay: 2.3s;">
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>7</td>
                  <td>317</td>
                </tr>
                <tr class="zoomIn animated" style=" animation-delay: 2.5s;">
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>7</td>
                  <td>317</td>
                </tr>
                <tr class="zoomIn animated" style=" animation-delay: 2.8s;">
                  <th scope="row">3</th>
                  <td >Larry the Bird</td>
                  <td>@twitter</td>
                  <td>7</td>
                  <td>317</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
