
<div id="about" class="container-fluid card mat-elevation-z20">
  <div class="row">
    <div class="col-sm-8">
      <br>
      <h2>About Company</h2><br>
      <p>
          SkyLease Cargo is  the  leader  in full freighter service provider  from  its US headquarter in Miami  with strong presence in the market for more than 25 years. SkyLease is a US well established  cargo airline operating scheduled  flights in the Americas  and  Asia , additionally  KYE  operate charters worldwide.
      </p>
      <br>
      <p>
        SkyLease  focuses on providing  efficient air freight services  with a strong emphasis in customer service.  KYE ensure quick responses to our customers changing requirements offering a broad array of services based our MD-11’s and B747-400- ERF fleet.
        In 2013, Centurion / SkyLease Cargo moved to  its brand new, state-of-the -art facility situated in a privileged position the Miami International Airport. The facility comprises a 130,000 m² area incorporating  warehouse with both cold and dry storage facilities, and 92 cargo docks.
      </p>
      <br>
    </div>
    <div class="col-sm-4">
        <img src="./assets/images/plane.jpg" class="img-rounded"  alt="Cinque Terre" >
    </div>
  </div>
</div>
<br>
<br>
<div id="about_2" class="container-fluid card mat-elevation-z20">
  <div class="row">
    <div class="col-sm-4">
        <img src="./assets/images/plane2.png" class="img-rounded" alt="Cinque Terre" >
    </div>
    <div class="col-sm-8" style="padding-right:50px;">
      <br>
      <h2>Fleet Skylease</h2><br>
      <h4>B-747-400-ERF:</h4>
      <p>The B-747-400-ERF offers: </p>
      <p>129,000-kg maximum gross payload and 5,700-nmi (10,500-km) range, Our latest  747-400 ERF fly further carrying more payloads, decreasing the carbon emission footprint.
        <br>
        Main Deck: (30) 96- x 125-inch pallets = (604.5 m3)
        <br>
        Lower Hold: (9) 96- x 125-inch pallets + two LD-3 containers + bulk = (130.4 m3)
      </p>
      <h4>MD-11F:</h4>
      <p>The MD-11F offers:</p>
      <p>Maximum payload of 98,000 Kg
        <br>
        Main deck (26)  96x125 pallets  (440 M3)
        <br>
        Lower deck : (6) 96x125 pallets & (4)containers + bulk 4,976 (140.9 M3)
        <br>
        Range:  3950- nmi  (7,320 km)
      </p>
    </div>
  </div>
</div>


