<div class="card-deck" style="margin-top: 85px">
    <div class="card mat-elevation-z20">
      <img src="./assets/images/service1.png" class="rounded mx-auto d-block" alt="..." style="width: 12em; height: 12em;">
      <div class="card-body">
        <h5 class="card-title">Perishable</h5>
        <p class="card-text" align="justify">SkyLease Cargo is the No. 1 cargo carrier in the transportation and handling of perishable goods to and from Miami International Airport.
            Half of SkyLease cargo is perishable:  KYE carries fresh flowers from Colombia , fruits and asparagus from Peru, Fresh salmon & stone fruits / berries from Chile  and other products
            that require temperature control, offering  a cooler of  15,000 m2 making it a leader in perishable handling and cold chain services in the continent.
            <br>
            Our Warehouse is Certified by The United States Environmental Protection Agency for the use of refrigerants and residues of our cooling systems in the category of
            (Refrigerated Warehousing and Storage).
            SkyLease Cargo is also a proud  member of Flora Life®  a well recognized organization that provides support and  knowledge of handling and transportation of perishables products.
            From Growers to customers and to retail stores.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card mat-elevation-z20">
      <img src="./assets/images/service2.png" class="rounded mx-auto d-block" alt="..." style="width: 12em; height: 12em;">
      <div class="card-body">
        <h5 class="card-title">Oversize and Overweight Cargo</h5>
        <p class="card-text" align="justify">Some industries require the transportation of pieces that are considered oversized or over weighted  for standard transportation
            With Our  B747-400 ERF ( nose-loader) SkyLease  is capable of handling  this unusually sized  and heave items.
            <br>
            At SkyLease Cargo we understand the special needs governing this kind of shipments and provide Special ramp handling with specialized equipment and trained personal to guarantee the integrity and security of your cargo.
            KYE have the knowledge, experience and capacity to ship all your oversized or heavy cargo – any size, anytime, anyplace.  KYE BIG & Heavy is  our solution for your extremely large, heavy or atypical cargo shipments.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card mat-elevation-z20">
      <img src="./assets/images/service3.png" class="rounded mx-auto d-block" alt="..." style="width: 12em; height: 12em;">
      <div class="card-body">
        <h5 class="card-title">Live Animals</h5>
        <p class="card-text" align="justify">All live animals are transported in optimal conditions of safety and  subject to the IATA Live Animal Regulations the (LAR) SkyLease Cargo has an outstanding  25-year reputation
            on the transport of horses. Every year, equestrian teams rely on us to carry their valuable horses every year. Our customized equipment and services ensure that your horses arrive on time and in excellent condition. Professional
            attendants accompany your horses on each flight.
            <br>
            Horses remain in our care throughout the shipping process (airport-to-airport)
            <br>
            All equine import and export facilities under one roof
            <br>
            We direct business with specialized horse agents.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>

  <div class="card-deck" style="margin-top: 15px">
      <div class="card mat-elevation-z20">
        <img src="./assets/images/service4.png" class="rounded mx-auto d-block" alt="..." style="width: 15em; height: 12em;">
        <div class="card-body">
          <h5 class="card-title">Dangerous Goods</h5>
          <p class="card-text" align="justify">Solids, liquids, or gases that can harm people, other living organisms, property, or the environment, are often subject to chemical regulations. In the United States and other countries,
              dangerous goods are more commonly known as hazardous materials, (HAZMAT or HazMat).
              <br>
              KYE have specialized personnel to handle in a safe, secure, responsible and diligent manner.
              <br>
              The primary features of this service are:
              <br>
              - Boarding priority
              <br>
              - Specialized handling by trained and highly qualified personnel
              <br>
              - Storage in specialized areas.
              <br>
              - Our Freighter fleet allows us to handle a wider variety of dangerous goods.
              <br>
              <b>WE Care is the transportation solution to all kind of Dangerous Goods</b>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
      <div class="card mat-elevation-z20">
        <img src="./assets/images/service5.png" class="rounded mx-auto d-block" alt="..." style="width: 12em; height: 12em;">
        <div class="card-body">
          <h5 class="card-title">Sensitive and Valuable Cargo</h5>
          <p class="card-text" align="justify">KYE guarantee higher priority and safe transportation of goods that due to it´s nature require expedite handling and special security measures.
              Items such as: gold, bank notes, high value metals, jewelry, high-tech electronics, to name a few, are escorted by our security staff at origin, transit and destination points.
              <br>
              Contingency plans are always in place, in case of flight delays, alternative airport landings, and other issues which may crop up during transportation.
              <br>
              Valuable Cargo is kept under constant surveillance during the entire process, from the moment of receipt from the shipper, until delivered to the consignee.  KYE uses specially-secured areas for this cargo.
              There is constant communication between all personnel involved in each shipment´s handling. This heightened coordination between our security and operational teams guarantees the integrity of each shipment at all times.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
      <div class="card mat-elevation-z20">
        <img src="./assets/images/service6.png" class="rounded mx-auto d-block" alt="..." style="width: 12em; height: 12em;">
        <div class="card-body">
          <h5 class="card-title">Pharmaceutical and Healthcare</h5>
          <p class="card-text" align="justify">KYE are currently developing  “added value” products by  implementing the latest technologies, such as Envirotainer ® for Passive and Active Temperature Control. This will better serve our Pharma and Healthcare  customers,
              by offering a high quality transportation solution. Customers will be able to access accurate information such as location, temperature and other specific data, throughout the entire transportation process.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>

    <div class="card-deck" style="margin-top: 15px">
        <div class="card">
        </div>
        <div class="card mat-elevation-z20">
          <img src="./assets/images/service7.png" class="rounded mx-auto d-block" alt="..." style="width: 12em; height: 12em;">
          <div class="card-body">
            <h5 class="card-title">Charters</h5>
            <p class="card-text" align="justify">KYE offer charter aircraft for both ad-hoc charters and long-term contracts. Additionally, KYE offer any type of aircraft needed to fit your transportation and logistics needs, analyzing route, payload and timescale, in order to propose the most suitable aircraft for your requirements.
                <br>
                KYE can provide pre-flight advice, customs and warehousing, and supervise aircraft loading and unloading. KYE can also co-ordinate arrangements for special equipment, including cranes and custom-built loading structures.
                <br>
                KYE are available 24 hours a day, 7 days a week, to handle any charter inquiries and needs.
                <br>
                For more information please contact us at:
                <br>
                charters@skylease.aero or by phone at + 1-786 999 4861.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="card">
        </div>
      </div>



